[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target network-online.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
PrivateDevices=yes
SyslogLevel=err

ExecStart=/usr/bin/nginx.ryan -c /etc/nginx/nginx.conf.ryan
ExecReload=/usr/bin/nginx.ryan -s reload
KillMode=mixed

[Install]
WantedBy=multi-user.target
