[Unit]
Description=Postfix Mail Transport Agent
After=network.target

[Service]
CapabilityBoundingSet=~ CAP_NET_ADMIN CAP_SYS_ADMIN CAP_SYS_BOOT CAP_SYS_MODULE
ExecReload=/usr/bin/postfix.ryan reload
ExecStart=/usr/bin/postfix.ryan start
ExecStop=/usr/bin/postfix.ryan stop
PIDFile=/var/spool/postfix/pid/master.pid
PrivateDevices=true
PrivateTmp=true
ProtectSystem=true
Restart=always
Type=forking

[Install]
WantedBy=multi-user.target
